Current Goals:
5/8
   -write title and author to CSV file (arrays are mean >:[ )

   -open and read values from CSV file to populate table
   -allow for stories to be selected from the list

4/26 
   -html home page
   -js to create file



Requirements:
1) Gui 
      - Home - Page Design
      - Story List - Design
      - Edit Screen - Design
2) Mechanics
      - Create a new Story
      - Edit an existing story
      - Display a list of all stories
      
3) Polish/ boredom
      - User Accounts
      - Editting safeguards
      - Pictures/covers for stories
      
      
      
Project Design - Web Site
- Main code (looks)  html, css, js
- Mechanis html,  js
- Accounts, etc.  php
- Editting safeguards  js
    
